body {
    background-color: rgb(255, 226, 231);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
   }
   
   .skip, .home-quick ul {
    text-align: left;
   }

   
  header {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
   
h1 {
    text-align: center;
    font-size: 3.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F26B8C;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h2, footer {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
   
   .nav_links{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 3px solid  #F26B8C;
    background: linear-gradient(to bottom,#f07695 , #ede9e9);
    border-radius: 7px;
    background-color: rgb(253, 245, 246);
    font-size: 125%;
    padding: 5px;
}
  
  .nav_links a {
    color: rgb(3, 1, 3);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    transition: all 0.2s ease-in-out;;
  }
  
  .nav_links a:hover {
    color:  #F26B8C;
    transform: scale(2.2);
  }
  
  .nav_links span {
    font-size: 80%;
    font-family:  sans-serif, 'Helvetica Neue',;
    color: rgba(0, 0, 0, 0.8);
  }
  
   
   footer {
    border: 1px solid rgba(245, 151, 151, 0.597);
    background-color: rgb(235, 193, 200); 
    padding: 5px;
   }
   
   a {
    text-decoration: none;
    color: #000000
   }
   
   li{

    margin-top: 5px;
    margin-bottom: 5px;

   }

   a:hover, a:focus {
    color: #000000;
    text-decoration: underline;
    font-style: bold;
   }
   
   .active{
    font-weight: bold;
    text-decoration: overline;
    font-style: italic;
   }

   
   .about-overview, .about-me, .about-life {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
   }
   .home-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.home-overview img {
    width: 75%;
    height: auto;
    margin-top: 30px;
    border: 2px solid pink;
  }

.home-imgs img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid  #F26B8C;

    margin: 20px;
}


   p {
    margin-top: 20px;
    margin-bottom: 20px;
   }
   
 
   .work-meta,
  .work-farm,
  .work-tpa,
  .work-google,
  .work-lacasa,
  .work-mlt,
  .work-colorstack,
  .work-hsf,
  .work-gwc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work-meta,
  .work-farm,
  .work-tpa,
  .work-google,
  .work-lacasa,
  .work-mlt,
  .work-colorstack,
  .work-hsf, 
  .work-gwc {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .work-meta img,
  .work-farm img,
  .work-tpa img,
  .work-google img,
  .work-lacasa img,
  .work-mlt img,
  .work-colorstack img,
  .work-hsf img, 
  .work-gwc img{
    width: 30%;
    margin-top: 1rem;
    border-radius: 5px;
  }



   .about-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

   
   .home-quick ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .home-quick li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .home-quick li:before {
    content: "•";
    color: rgb(4, 2, 6);
    margin-right: 5px;
    font-size: 150%;
  }


   @media screen and (min-width: 500px) {
   
    .nav_links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        font-size: 125%;
        padding: 5px;
        border-radius: 0
    }
   
    .home-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    }
   
   
    .about-life {
    width: 50%;
    border: 2px dashed#F26B8C;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    }
   }

   .about-me {
    width: 50%;
    border: 2px dashed #F26B8C;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    }

   
   @media screen and (min-width: 1200px) {
    
    .home-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    }
   
    .home-quick {
        width: 50%;
        list-style-type: disc;
        list-style-position: inside;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 2px dashed #F26B8C;
      }

       
    .home-quick li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
   }